@charset "UTF-8";

/**
 * Основные стили
 **/




html {
	font-size: 16px;
}

body {
	font-family: 'Lato', sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

section{
	padding: 100px 0;
}

nav{
	height: 0;
}

p{
	margin: 0;
}

img{
	max-width: 100%;
	height: auto;
}


.container {
	@include min-max(320px, 100%, 0);
	}

.wrap {
	@include min-max(320px, 1200px, 15px);
}

