@mixin clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin min-max($min-width, $max-width, $padding) {
  min-width: $min-width;
  max-width: $max-width;
  padding: 0 $padding;
  box-sizing: border-box;
  margin: 0 auto;
}


@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}


@mixin button-style($bgcolor) {
  cursor: pointer;
  border: none;
  background-color: $bgcolor;
  font-family: "Raleway";
  box-shadow: none;
  appearance: none;
  color: $white;
  width: 170px;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  transition-property: background-color;
  transition-duration: 500ms;
  text-align: center;

  &:hover, &:active {
    background-color: darken($bgcolor, 15%);
  }

}
