.team{
position: relative;
  &:before {

    width: 21px;
    height: 19px;
    content: url("../img/hexagon-decoration-red.svg");
    position: absolute;
    top: -9px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }

  &:after{
    width: 44%;
    height: 1px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $pink;
  }


  .team__title{
    @include title-style();
  }

  .team__description{
    @include description-style();
    margin: 0 auto 70px auto;
  }




}