$togglesGray: #f7f7f7;
$togglesBorderColor: #e7e7e7;
$iconsColorGray: #505050;
$iconsColorPink: #ff0036;
$togglesNameColor: #262626;
$togglesTextColor: #505050;

.toggles__description {

  @include text-style();
  text-align: left;
  margin-bottom: 45px;

  @media (max-width: 768px) {
    text-align: center;
    margin-top: 45px;
  }

}

.toggles__block {
  width: 100%;
  margin-bottom: 10px;
}

.toggles__topBlock {
  display: flex;
  justify-content: flex-start;
  background-color: $togglesGray;
  border: 1px solid $togglesBorderColor;
  cursor: pointer;
}


.toggles__iconsBLock {

  border-right: 1px solid $togglesBorderColor;
  width: 60px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggles__icon {

  width: 19px;
  height: 19px;


  &_more {
    fill: $iconsColorGray;
  }


  &_less {
    fill: $iconsColorPink;
    display: none;
  }


}


.toggles__nameBlock {

  display: flex;
  flex-direction: column;
  justify-content: center;


}


.toggles__name {

  font-size: 20px;
  font-family: "Raleway";
  color: $togglesNameColor;
  margin-left: 30px;

}


.toggles__textBlock {

  border-right: 1px solid $togglesBorderColor;
  border-bottom: 1px solid $togglesBorderColor;
  border-left: 1px solid $togglesBorderColor;
  padding: 15px;
  display: none;
}


.toggles__text {
  font-size: 14px;
  color: $togglesTextColor;
  line-height: 1.571;
  text-align: left;


}