$worksOrange: #f39843;
$worksBlue: #3782aa;
$worksPink: #ee5d88;
$worksWhite: #f6f0e0;
$worksGreen: #56cc82;
$worksGray: #95a5a5;
$worksBlue2: #24b0c9;
$worksOrange2: #fa8562;

.works {


display: flex;
flex-wrap: wrap;

  .works__block {

    position: relative;

    &_one {

      @include works-blocks-style($worksOrange,"../img/money.svg",28% );

    }

    &_two {
      @include works-blocks-style($worksBlue,"../img/bank.svg",22% );
    }

    &_three {
      @include works-blocks-style($worksPink,"../img/growth.svg",28% );
    }

    &_four {

      @include works-blocks-style($worksWhite,"../img/credit-card.svg",22% );

    }

    &_five {

      @include works-blocks-style($worksGreen,"../img/calculator.svg",22% );

    }

    &_six {

      @include works-blocks-style($worksGray,"../img/exchange.svg",28% );

    }

    &_seven {

      @include works-blocks-style($worksBlue2,"../img/purse.svg",22% );


    }

    &_eight {

      @include works-blocks-style($worksOrange2,"../img/list.svg",28% );

    }


    &:hover {


      &:before {

        content: "";
        width: 100%;
        height: 100%;
        background-color: $black;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .9;
        transition: opacity;
        transition-duration: 500ms;
      }

      .works__description {
        opacity: 1;
        transition: opacity;
        transition-duration: 700ms;
      }


    }


  }


  .works__link {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .works__description {

    text-align: center;
    opacity: 0;
    color: $white;

    & span {

      font-weight: 700;
      font-size: 40px;
      color: $white;

    }

  }

}